{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <form action="{{request.route_url('loja_action',action=action)}}" method="post" class="form">
        {% if action =='edit' %}
            {{ form.id() }}
        {% endif %}

        {% for error in form.name.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}

        <div class="form-group">
            <label for="name">{{ form.name.label }}</label>
            {{ form.name(class_='form-control') }}
        </div>

        {% for error in form.description.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}

        <div class="form-group">
            <label for="description">{{ form.description.label }}</label>
            {{ form.description(class_='form-control') }}
        </div>
        <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-default">Confirmar</button>
        </div>


    </form>
    <p><a href="{{ request.route_url('home') }}">Voltar</a></p>
</div>
{% endblock content %}
