{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Lojas</span> <span class="smaller"> web application</span></h1>
    <a href="{{ request.route_url('nossaslojas') }}"><h3>Nossas Lojas</h3></a>
</div>
{% endblock content %}
